.container{
	width: calc(100% - 250px);
	margin-top: 65px;
	margin-left: 250px;
	padding: 25px 40px;
	transition: all 0.3s linear;
}

.container .item_wrap{
	display: flex;
	margin-bottom: 20px;
}

.container .item_wrap .item{
	background: #fff;
	border: 1px solid #e0e0e0;
	padding: 25px;
	font-size: 14px;
	line-height: 22px;
}

.container .item_wrap .item:first-child{
	margin-right: 20px;
}